/* Reset default styles */
body {
    margin: 0;
    padding: 0;
    line-height: 1.6;
    font-family: 'Arial', sans-serif;
}

/* Navigation Bar */
.navbar {
    background-color: #f2f2f2;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-toggle {
    display: none;
    cursor: pointer;
}

.navbar-toggle span {
    display: block;
    width: 30px;
    height: 3px;
    background-color: #000000;
    margin: 6px 0;
}

h1 {
    font-family: 'Sofia', cursive;
    font-size: 36px;
    font-weight: bold;
    margin-right: 20px;
    display: flex;
    justify-content: center;
}

.navbar img {
    display: flex;
    justify-content: space-around;
    top: 10px;
    left: 10px;
    width: 150px;
    height: auto;
}

/* Search Section */
.search-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 2px solid #ccc;
    font-family: 'Sofia', cursive;
}

.search-box {
    width: 90%;
}

.search-label {
    font-size: 20px;
    margin-bottom: 5px;
}

/* Thin Grey Line */
hr {
    border-color: #cccccc34;
    margin: 20px;
}

/* Results Section */
#results {
    display: none;
}

#results h2 {
    text-align: center;
}

.row {
    margin: 20px 0;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}
.myShelf {  
        position: fixed;
        right: 0;
        border-style: solid;
        border-width: 1px;
        border-color: black;
        padding: 10px;
}
.box {
    border: 1px solid black;
    padding: 10px;
    margin-bottom: 20px;
}
footer {
    background-color: #f2f2f2;
    padding: 20px;
    font-family: 'Sofia', cursive;
    text-align: center;
}
/* Responsive Styles */
@media (max-width: 768px) {
    .search-section {
        flex-direction: column;
        align-items: flex-start;
    }

    .search-box {
        width: 100%;
        margin-bottom: 10px;
    }

    .navbar h1 {
        font-size: 24px;
        margin-right: 0;
    }

    .navbar img {
        top: 5px;
        left: 5px;
        width: 100px;
    }

    .myShelf {
        width: 100%;
    } 
}

/* Media queries */
@media only screen and (max-width: 480px) {
    /* Navbar */
    .navbar-toggle {
        display: block;
    }

    .hide {
        display: none;
    }

    /* Navbar */
    .navbar {
        padding: 0;
        display: flex;
        justify-content: center;
    }

    .navbar h1 {
        padding: 10px;
    }

    /* Search section */
    .search-section {
        display: grid;
    }

    .search-box input {
        width: 50%;
    } 

    .search-section button {
        width: 50%;
    }

    .tick-box-options {
        display: grid;
    }

    .footer{
        padding: 0;
        display: flex;
        justify-content: center;
    }
}
