body {
    margin: 0;
    padding: 0;
    line-height: 1.6;
    font-family: 'Sofia', cursive;
}

/* Navigation Bar */
.navbar {
    background-color: #f2f2f2;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-toggle {
    display: none;
    cursor: pointer;
}

.navbar-toggle span {
    display: block;
    width: 30px;
    height: 3px;
    background-color: #000000;
    margin: 6px 0;
}

nav h1 {
    font-family: 'Sofia', cursive;
    font-size: 36px;
    font-weight: bold;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    font-weight: bold;
    text-transform: uppercase;
}

.navbar img {
    display: flex;
    justify-content: space-around;
    top: 10px;
    left: 10px;
    width: 150px;
    height: auto;
}

/* Search Section */
.search-section {
    display: flex;
    align-items: end;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 2px solid #ccc;
}

.search-box {
    width: 90%;
}

.search-label {
    font-size: 20px;
    margin-bottom: 5px;
}

/* Thin Grey Line */
hr {
    border-color: #cccccc;
    margin: 20px;
}

/* Results/My Shelf Section */
.search-box {
    width: 60%;
}

hr {
    border-color: #ccc;
    margin: 20;
}

#results h2 {
    text-align: center;
}

.fixed {
    position: fixed;
    right: 0;
}

.row {
    margin: 20px 0;
}

.shelf-top {
    margin: 0;
}

.myShelf h2 {
    text-align: center;
}

.booksBox img {
    height: 50px;
    width: 30px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

/* Footer */
footer {
    background-color: #f2f2f2;
    padding: 20px;
}

/* Responsive Styles */
@media (max-width: 768px) {

    .fixed {
        position: absolute;
    }

    .search-section {
        flex-direction: column;
        align-items: flex-start;
    }

    .search-box {
        width: 100%;
        margin-bottom: 10px;
    }

    .navbar h1 {
        font-size: 24px;
        margin-right: 0;
    }

    .navbar img {
        top: 5px;
        left: 5px;
        width: 100px;
    }

    .myShelf {
        width: 100%;
    }

}

/* Media queries */

@media only screen and (max-width: 480px) {

    /* Navbar */
    .navbar-toggle {
        display: block;
        padding-left: 10px;
    }

    .hide {
        display: none;
    }

    /* Navbar */
    .navbar {
        padding: 0;
        display: flex;
        justify-content: center;
    }

    .navbar h1 {
        padding: 10px;
        margin: 0;
    }

    .fixed {
        position: absolute;
    }

    /* Search section */
    .search-section {
        display: grid;
    }

    .search-box input {
        width: 50%;
    }

    .search-section button {
        width: 50%;
    }

    .tick-box-options {
        display: grid;
    }

    .footer {
        padding: 0;
        display: flex;
        justify-content: center;
    }
}